<app-header></app-header>
<div class="box-root padding-bottom--24 flex-flex flex-justifyContent--center">
  <h2>Subir video</h2>
</div>
<div class="formbg-outer">
  <div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
      <form #dataform="ngForm" (ngSubmit)="onSubmit(dataform)">
        <div class="field padding-bottom--24 alineado">
          <input type="text" id="titulo" placeholder="Titulo del video" [(ngModel)]="videos.titulo" name="titulo"/>
        </div>
        <div class="field padding-bottom--24 alineado">
          <textarea id="descripcion" placeholder="Descripcion" [(ngModel)]="videos.descripcion" name="descripcion"></textarea>     
        </div>
        <div class="field padding-bottom--24 alineado">
          <input type="file" id="video" (change)="this.onVideoUpload($event)" >
        </div>
        <div class="field padding-bottom--24">
          <button (click)="listarEtiquetas()">Seleccionar etiquetas</button>
          <div class="etiquetas-lista">
            <div *ngFor="let etiqueta of etiquetas" class="etiqueta-container">
              <label [for]="etiqueta.id">{{ etiqueta.nombre }}</label>
              <input type="checkbox" [id]="etiqueta.id" (change)="onEtiquetaSeleccionada(etiqueta)" />
            </div>
          </div>
        </div>
        <div class="field padding-bottom--24">
          <button class="boton" type="submit">Subir video</button>
        </div>
      </form>
    </div>
  </div>
</div>