.containerPadre {
  display: flex;
  flex-direction: row;
}

.no-results {
  text-align: center;
  padding: 20px;
 
  margin-bottom: 20px;
  width: 100%;
}

.no-results p {
  font-size: 18px;
  color: #606060;
}



.sidebar {
  width: 250px; 
  height: 100%; 
  max-height: 100vh;
  box-sizing: border-box; 

  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.fotoPerfilDefault, .fotoPerfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  display: block; 
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.menu {
  list-style-type: none;
  height: auto;
  max-height: 800px; 
  overflow-y: auto; 
  height: 800px;
  padding: 0;
}

.menu-item {
  
  padding: 10px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.menu-item.selected, .menu-item:hover {
  background-color: #007bff;
  color: white;
}

.container {
  flex: 1;
  padding: 20px;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.video {
  width: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.video:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video a {
  text-decoration: none;
  color: inherit;
}

.miniatura {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.video-info h2 {
  margin: 0 0 5px;
  font-size: 16px;
  color: #333;
}

.video-info p {
  margin: 0;
  color: #888;
  font-size: 14px;
}


.video h2 {
  font-size: 18px;
  margin: 10px 0;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.botones a {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.botones a:hover {
  color: #0056b3;
}

.no-videos {
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: #777;
}

.no-videos p {
  margin: 0;
}

@media (max-width: 768px) {
  .video {
      width: 100%;
      margin-right: 0;
  }

  .containerPadre {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ddd;
  }

  .container {
      padding: 10px;
  }
}
