<app-header></app-header>
<div class="sidebar" *ngIf="canalNombre">
    <img *ngIf="!usuario?.foto" class="fotoPerfilDefault" src="assets/images/user.png" alt="">

    <img *ngIf="usuario?.foto" class="fotoPerfil" [src]="usuario.foto" alt="">
    <h1>{{ canalNombre }}</h1>
        <hr>
        <a class="menu-item" routerLink="/misVideos">Mis videos</a>
        <a class="menu-item">Editar canal</a>
        <a class="menu-item" routerLink="/subirVideo">Subir video</a>

</div>
<div *ngIf="!canalNombre">
    <p>No tienes un canal asociado, <a href="/#/crearCanal">Haz click aqui para crear uno</a></p> 
</div>