.sidebar {
    background-color: #fff  ;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    padding: 15px;
  }

  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #495057;
    min-width: 225px;
  
    margin-bottom: 10px;
    border-width: 0 0 1px;
    transition: background-color 0.3s;
  }

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}


.menu {
    list-style: none;
    width: 100%;
    padding:0;
}

.menu-item {
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #a4a7aa;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.menu-item + .menu-item {
    border-top: 1px solid #7f8c8d;
}

.fotoPerfil {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;


}
.fotoPerfilDefault {
    margin-top: 40px;
    width: 250px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;

}
