<header class="navbar navbar-expand-lg fixed-top bg-header shadow-sm">
  <div class="container-fluid d-flex align-items-center navbar-container">
     <div class="navbar-left">
      <button class="btn text-white me-2  d-md-block d-none menu-btn-left" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>

      
      <a class="navbar-brand d-flex align-items-center" [href]="serverIp + '3000' + '/#/'">
        <img 
          class="logo-navbar"
          [src]="usuario?.premium ? 'assets/images/logopremium.svg' : 'assets/images/logo.png'" 
          alt="Logo">
      </a>
    </div>

    

      <div class="dropdown mx-1" [class.open]="isDropdownOpen">
        <button class="btn d-flex align-items-center text-white" (click)="toggleDropdown($event)">
          <span *ngIf="usuario?.name" class="me-2 d-none d-lg-inline">{{ canalNombre }}</span>
          <img *ngIf="usuario?.foto" [src]="usuario.foto" class="avatar" alt="Foto perfil">
          <img *ngIf="!usuario?.foto" src="assets/images/user.png" class="avatar" alt="Perfil">
          <mat-icon class="ms-1" style="font-size: 18px;">keyboard_arrow_down</mat-icon>
        </button>

        <div class="dropdown-menu dropdown-menu-end" [class.show]="isDropdownOpen">
          <a *ngIf="status.isLoggedIn && canalNombre" [href]="serverIp + '3000' + '/#/'" class="dropdown-item">Volver a BlitzVideo</a>
          <a *ngIf="status.isLoggedIn && !canalNombre" routerLink="/crearCanal" class="dropdown-item">Crear canal</a>
          <hr class="dropdown-divider">
          <a *ngIf="status.isLoggedIn" (click)="logout()" class="dropdown-item">Cerrar sesión</a>
          <a *ngIf="!status.isLoggedIn" [href]="serverIp +  '3002' + '/#/'" class="dropdown-item">Login</a>
          <a *ngIf="!status.isLoggedIn" [href]="serverIp +  '3002' + '/#/registro'" class="dropdown-item">Registro</a>
        </div>
      </div>
    </div>
  </header>
  