// Importar Angular Material y otros estilos necesarios
@use '@angular/material' as mat;

// Incluir los estilos comunes de Angular Material. Esto se incluye aquí para que solo necesites cargar un archivo CSS para Angular Material en tu aplicación.
@include mat.core();

// Definir el objeto de tema personalizado.
$Blitzvideo-Creadores-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Incluir estilos de tema para todos los componentes y estilos base de la aplicación.
:root {
  @include mat.all-component-themes($Blitzvideo-Creadores-theme);
}
